In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
import glob
import os
import re

# Demographic Metric

### Race data

In [5]:
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\demographic"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_race_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    
    # Read the CSV file
    df = pd.read_csv(file)
    
    # Set Label Grouping as index
    df.set_index('Label (Grouping)', drop=True, inplace=True)
    
    # Delete Percent columns
    df = df.loc[:, ~df.columns.str.contains('Percent', case=False)]
    
    # Transpose
    df = df.T

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_race_df = pd.concat(dataframes, ignore_index=False)

# Move 'Estimate Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_race_df.columns if col != 'Estimate Year']
merged_race_df = merged_race_df[column_order]

# Strip whitespace from column names
merged_race_df.columns = merged_race_df.columns.str.strip()

# Specify columns to keep
columns_to_keep = [
    'Estimate Year',
    'Total:',
    'White alone',
    'Black or African American alone',
#     'American Indian and Alaska Native alone',
    'Asian alone',
#     'Native Hawaiian and Other Pacific Islander alone'
]

# Check which columns to keep exist
existing_columns_to_keep = [col for col in columns_to_keep if col in merged_race_df.columns]

# Create a filtered DataFrame with only the specified columns
filtered_race = merged_race_df[existing_columns_to_keep]

# Extract the tract number using regex
filtered_race.index = filtered_race.index.str.extract(r'(\d+(\.\d+)?)')[0]

# # Rename index to Tract ID
filtered_race.index.name = 'Tract ID'

# # Optionally save the filtered DataFrame to a new CSV file
filtered_race.to_csv('filtered_race.csv', index=False)

# Reset index to turn the index into a column
filtered_race.reset_index(drop=False, inplace=True)

# Display the filtered DataFrame
filtered_race

Label (Grouping),Tract ID,Estimate Year,Total:,White alone,Black or African American alone,Asian alone
0,4052,2017,"5,125","1,930",711,"1,519"
1,4053.01,2017,"3,019","1,552",757,275
2,4053.02,2017,"2,446",885,367,848
3,4054.01,2017,"4,014","1,061",806,"1,362"
4,4054.02,2017,"3,250",404,841,"1,117"
...,...,...,...,...,...,...
67,4057,2022,"3,522",609,985,934
68,4058,2022,"4,182",630,850,"1,815"
69,4059.01,2022,"3,757",434,643,"1,261"
70,4059.02,2022,"3,138",407,234,"1,275"
71,4060,2022,"4,735",967,910,"1,939"

### Age and Sex data

In [9]:
# Directory path for age and sex data files
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\demographic"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_age_sex_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    
    # Read the CSV file
    df = pd.read_csv(file)
    
    # Set Label Grouping as index
    df.set_index('Label (Grouping)', drop=True, inplace=True)
    
    # Delete Percent columns
    df = df.loc[:, ~df.columns.str.contains('Percent', case=False)]

    # Rename the columns
#     df.rename(columns=new_column_names, inplace=True)    
    
    # Transpose
    df = df.T

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_age_sex_df = pd.concat(dataframes, ignore_index=False)

# Move 'Estimate Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_age_sex_df.columns if col != 'Estimate Year']
merged_age_sex_df = merged_age_sex_df[column_order]

# Strip whitespace from column names
merged_age_sex_df.columns = merged_age_sex_df.columns.str.strip()

# Specify columns to keep
columns_to_keep = [
    'Estimate Year',
    'Total population',
    'Under 18 years',
    'Median age (years)',
    '18 years and over'
]

# Check which columns to keep exist
existing_columns_to_keep = [col for col in columns_to_keep if col in merged_age_sex_df.columns]

# Create a filtered DataFrame with only the specified columns
filtered_age_sex = merged_age_sex_df[existing_columns_to_keep]

# Create a "Sex" column based on the original index values before transposing
sex_values = []

# Re-create the index to get sex information before transposing
original_indices = []
for index in filtered_age_sex.index:
    original_indices.append(index)

# Create the "Sex" column
for index in original_indices:
    if "Male" in index:
        sex_values.append(1)
    elif "Female" in index:
        sex_values.append(0)
    else:
        sex_values.append(2)  # For combined categories

# Assign the list to the Sex column
filtered_age_sex['Sex'] = sex_values

# Extract numeric parts from the index using str.extract
filtered_age_sex.index = filtered_age_sex.index.str.extract(r'(\d+(\.\d+)?)')[0]

# # Rename index to Tract ID
filtered_age_sex.index.name = 'Tract ID'

# Reset index to turn the index into a column
filtered_age_sex.reset_index(drop=False, inplace=True)

# Optionally save the filtered DataFrame to a new CSV file
filtered_age_sex.to_csv('final_age_sex_data.csv', index=False)

# Display the filtered DataFrame
filtered_age_sex

C:\Users\jabba\AppData\Local\Temp\ipykernel_48504\1112866891.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_age_sex['Sex'] = sex_values

Label (Grouping),Tract ID,Estimate Year,Total population,Under 18 years,Median age (years),18 years and over,Sex
0,4052,2017,"5,125",606,35.8,"4,519",2
1,4052,2017,"2,617",324,33.5,"2,293",1
2,4052,2017,"2,508",282,37.8,"2,226",0
3,4053.01,2017,"3,019",326,36.2,"2,693",2
4,4053.01,2017,"1,336",152,36.9,"1,184",1
...,...,...,...,...,...,...,...
211,4059.02,2022,"1,609",307,35.6,"1,302",1
212,4059.02,2022,"1,529",319,34.2,"1,210",0
213,4060,2022,"4,735",814,43.8,"3,921",2
214,4060,2022,"2,081",296,45.6,"1,785",1
215,4060,2022,"2,654",518,42.3,"2,136",0

### Merge to create demographic metric

In [376]:
# Aggregate race data by Tract ID and Estimate Year
aggregated_race_data = filtered_race.groupby(['Tract ID', 'Estimate Year'], as_index=False).agg({
    'Total:': 'sum',
    'White alone': 'sum',
    'Black or African American alone': 'sum',
    'Asian alone': 'sum'
})

merged_demo = pd.merge(filtered_race, filtered_age_sex, on=['Tract ID', 'Estimate Year'], how='inner')

merged_data.to_csv('merged_demographic_data.csv', index=False)

merged_demo

Label (Grouping),Tract ID,Estimate Year,Total:,White alone,Black or African American alone,Asian alone,Total population,Under 18 years,Median age (years),18 years and over,Sex
0,4052,2017,"5,125","1,930",711,"1,519","5,125",606,35.8,"4,519",2
1,4052,2017,"5,125","1,930",711,"1,519","2,617",324,33.5,"2,293",1
2,4052,2017,"5,125","1,930",711,"1,519","2,508",282,37.8,"2,226",0
3,4055,2017,"4,124","1,152",585,"2,051","4,124",626,34.7,"3,498",2
4,4055,2017,"4,124","1,152",585,"2,051","1,971",266,34.8,"1,705",1
5,4055,2017,"4,124","1,152",585,"2,051","2,153",360,34.4,"1,793",0
6,4056,2017,"3,171","1,221",482,875,"3,171",576,36.5,"2,595",2
7,4056,2017,"3,171","1,221",482,875,"1,797",413,35.4,"1,384",1
8,4056,2017,"3,171","1,221",482,875,"1,374",163,38.9,"1,211",0
9,4057,2017,"3,760",814,"1,229","1,179","3,760",602,35.4,"3,158",2
10,4057,2017,"3,760",814,"1,229","1,179","1,927",281,36.7,"1,646",1
11,4057,2017,"3,760",814,"1,229","1,179","1,833",321,34.5,"1,512",0
12,4058,2017,"4,472","1,008","1,053","1,918","4,472",901,34.4,"3,571",2
13,4058,2017,"4,472","1,008","1,053","1,918","2,159",394,34.7,"1,765",1
14,4058,2017,"4,472","1,008","1,053","1,918","2,313",507,33.8,"1,806",0
15,4060,2017,"3,184",837,435,"1,377","3,184",273,41.1,"2,911",2
16,4060,2017,"3,184",837,435,"1,377","1,449",161,36.1,"1,288",1
17,4060,2017,"3,184",837,435,"1,377","1,735",112,45.2,"1,623",0
18,4052,2018,"5,188","2,242",649,"1,564","5,188",567,35.0,"4,621",2
19,4052,2018,"5,188","2,242",649,"1,564","2,485",259,36.3,"2,226",1
20,4052,2018,"5,188","2,242",649,"1,564","2,703",308,34.9,"2,395",0
21,4055,2018,"4,063","1,373",612,"1,737","4,063",547,36.7,"3,516",2
22,4055,2018,"4,063","1,373",612,"1,737","1,903",217,36.4,"1,686",1
23,4055,2018,"4,063","1,373",612,"1,737","2,160",330,37.1,"1,830",0
24,4056,2018,"3,292","1,234",538,728,"3,292",486,36.8,"2,806",2
25,4056,2018,"3,292","1,234",538,728,"1,831",397,34.9,"1,434",1
26,4056,2018,"3,292","1,234",538,728,"1,461",89,39.8,"1,372",0
27,4057,2018,"3,434",734,877,"1,231","3,434",508,36.8,"2,926",2
28,4057,2018,"3,434",734,877,"1,231","1,750",251,36.8,"1,499",1
29,4057,2018,"3,434",734,877,"1,231","1,684",257,37.0,"1,427",0
30,4058,2018,"4,645","1,155",908,"2,024","4,645",963,35.7,"3,682",2
31,4058,2018,"4,645","1,155",908,"2,024","2,219",483,35.2,"1,736",1
32,4058,2018,"4,645","1,155",908,"2,024","2,426",480,37.1,"1,946",0
33,4060,2018,"3,344",799,498,"1,477","3,344",326,42.3,"3,018",2
34,4060,2018,"3,344",799,498,"1,477","1,518",116,37.4,"1,402",1
35,4060,2018,"3,344",799,498,"1,477","1,826",210,48.1,"1,616",0
36,4052,2019,"5,183","2,341",604,"1,635","5,183",573,37.3,"4,610",2
37,4052,2019,"5,183","2,341",604,"1,635","2,562",273,39.0,"2,289",1
38,4052,2019,"5,183","2,341",604,"1,635","2,621",300,36.4,"2,321",0
39,4055,2019,"3,880","1,062",879,"1,619","3,880",541,37.7,"3,339",2
40,4055,2019,"3,880","1,062",879,"1,619","1,828",247,37.3,"1,581",1
41,4055,2019,"3,880","1,062",879,"1,619","2,052",294,38.1,"1,758",0
42,4056,2019,"3,269","1,292",602,727,"3,269",465,38.5,"2,804",2
43,4056,2019,"3,269","1,292",602,727,"1,771",340,37.1,"1,431",1
44,4056,2019,"3,269","1,292",602,727,"1,498",125,39.7,"1,373",0
45,4057,2019,"3,531",620,747,"1,625","3,531",517,34.8,"3,014",2
46,4057,2019,"3,531",620,747,"1,625","1,748",255,35.0,"1,493",1
47,4057,2019,"3,531",620,747,"1,625","1,783",262,34.6,"1,521",0
48,4058,2019,"4,370","1,074",962,"1,871","4,370",968,34.4,"3,402",2
49,4058,2019,"4,370","1,074",962,"1,871","2,052",510,34.7,"1,542",1
50,4058,2019,"4,370","1,074",962,"1,871","2,318",458,33.8,"1,860",0
51,4060,2019,"3,796","1,148",525,"1,590","3,796",487,40.8,"3,309",2
52,4060,2019,"3,796","1,148",525,"1,590","1,713",166,38.4,"1,547",1
53,4060,2019,"3,796","1,148",525,"1,590","2,083",321,42.2,"1,762",0
54,4052,2020,"5,159","2,138",480,"2,028","5,159",802,37.8,"4,357",2
55,4052,2020,"5,159","2,138",480,"2,028","2,561",403,39.6,"2,158",1
56,4052,2020,"5,159","2,138",480,"2,028","2,598",399,36.5,"2,199",0
57,4055,2020,"3,674","1,004",866,"1,308","3,674",383,36.7,"3,291",2
58,4055,2020,"3,674","1,004",866,"1,308","1,730",174,36.0,"1,556",1
59,4055,2020,"3,674","1,004",866,"1,308","1,944",209,37.5,"1,735",0
60,4056,2020,"3,171",919,587,967,"3,171",379,38.9,"2,792",2
61,4056,2020,"3,171",919,587,967,"1,593",269,37.6,"1,324",1
62,4056,2020,"3,171",919,587,967,"1,578",110,41.5,"1,468",0
63,4057,2020,"3,308",647,"1,077","1,152","3,308",437,36.4,"2,871",2
64,4057,2020,"3,308",647,"1,077","1,152","1,598",238,37.9,"1,360",1
65,4057,2020,"3,308",647,"1,077","1,152","1,710",199,34.4,"1,511",0
66,4058,2020,"3,931",803,588,"1,833","3,931",709,36.5,"3,222",2
67,4058,2020,"3,931",803,588,"1,833","1,865",330,39.2,"1,535",1
68,4058,2020,"3,931",803,588,"1,833","2,066",379,33.5,"1,687",0
69,4060,2020,"3,890",959,723,"1,454","3,890",644,42.5,"3,246",2
70,4060,2020,"3,890",959,723,"1,454","1,609",194,44.4,"1,415",1
71,4060,2020,"3,890",959,723,"1,454","2,281",450,42.2,"1,831",0
72,4052,2021,"4,936","1,966",519,"1,834","4,936",726,38.6,"4,210",2
73,4052,2021,"4,936","1,966",519,"1,834","2,375",338,40.6,"2,037",1
74,4052,2021,"4,936","1,966",519,"1,834","2,561",388,37.0,"2,173",0
75,4055,2021,"3,644","1,244",633,"1,140","3,644",398,37.5,"3,246",2
76,4055,2021,"3,644","1,244",633,"1,140","1,755",203,37.5,"1,552",1
77,4055,2021,"3,644","1,244",633,"1,140","1,889",195,37.5,"1,694",0
78,4056,2021,"3,184","1,079",574,780,"3,184",352,37.6,"2,832",2
79,4056,2021,"3,184","1,079",574,780,"1,524",201,35.7,"1,323",1
80,4056,2021,"3,184","1,079",574,780,"1,660",151,40.6,"1,509",0
81,4057,2021,"3,722",624,"1,024","1,182","3,722",605,35.8,"3,117",2
82,4057,2021,"3,722",624,"1,024","1,182","1,845",401,35.8,"1,444",1
83,4057,2021,"3,722",624,"1,024","1,182","1,877",204,35.9,"1,673",0
84,4058,2021,"4,157",657,701,"2,031","4,157",810,37.0,"3,347",2
85,4058,2021,"4,157",657,701,"2,031","1,899",443,37.1,"1,456",1
86,4058,2021,"4,157",657,701,"2,031","2,258",367,36.9,"1,891",0
87,4060,2021,"4,288","1,109",614,"1,761","4,288",776,42.4,"3,512",2
88,4060,2021,"4,288","1,109",614,"1,761","1,925",298,44.1,"1,627",1
89,4060,2021,"4,288","1,109",614,"1,761","2,363",478,40.8,"1,885",0
90,4052,2022,"4,913","1,812",680,"1,939","4,913",697,39.7,"4,216",2
91,4052,2022,"4,913","1,812",680,"1,939","2,521",365,43.9,"2,156",1
92,4052,2022,"4,913","1,812",680,"1,939","2,392",332,37.3,"2,060",0
93,4055,2022,"3,537",838,690,"1,313","3,537",436,38.1,"3,101",2
94,4055,2022,"3,537",838,690,"1,313","1,804",280,37.4,"1,524",1
95,4055,2022,"3,537",838,690,"1,313","1,733",156,39.8,"1,577",0
96,4056,2022,"3,044","1,241",544,672,"3,044",384,37.6,"2,660",2
97,4056,2022,"3,044","1,241",544,672,"1,338",190,36.1,"1,148",1
98,4056,2022,"3,044","1,241",544,672,"1,706",194,38.8,"1,512",0
99,4057,2022,"3,522",609,985,934,"3,522",624,35.6,"2,898",2
100,4057,2022,"3,522",609,985,934,"1,785",396,36.1,"1,389",1
101,4057,2022,"3,522",609,985,934,"1,737",228,34.5,"1,509",0
102,4058,2022,"4,182",630,850,"1,815","4,182",983,36.3,"3,199",2
103,4058,2022,"4,182",630,850,"1,815","2,247",597,34.5,"1,650",1
104,4058,2022,"4,182",630,850,"1,815","1,935",386,37.7,"1,549",0
105,4060,2022,"4,735",967,910,"1,939","4,735",814,43.8,"3,921",2
106,4060,2022,"4,735",967,910,"1,939","2,081",296,45.6,"1,785",1
107,4060,2022,"4,735",967,910,"1,939","2,654",518,42.3,"2,136",0

---------------------------------------------
# Housing Metric

### Housing Occupancy data

In [34]:
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\housing_market"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_housing_occupancy_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Rows to remove
rows_to_remove = [
    "RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER", 
    "One race --",
    "Two or more races",
    "Hispanic or Latino origin",
    "White alone, not Hispanic or Latino",
    "AGE OF HOUSEHOLDER",
    "EDUCATIONAL ATTAINMENT OF HOUSEHOLDER",
    "YEAR HOUSEHOLDER MOVED INTO UNIT",
]

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    df = pd.read_csv(file)

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Remove specified rows after stripping whitespace
    df['Label (Grouping)'] = df['Label (Grouping)'].str.strip()  # Remove leading/trailing spaces
    df = df[~df['Label (Grouping)'].isin(rows_to_remove)]
    
    # Drop columns that contain the word 'Percent'
    df = df.loc[:, ~df.columns.str.contains('Percent', case=False)]
    
    # Prepare the renaming dictionary
    rename_dict = {
        'Label (Grouping)': 'Demographic Group'
    }

    # Define the tracts and create the renaming mappings
    tracts = [
        '4052', '4053.01', '4053.02', '4054.01', 
        '4054.02', '4055', '4056', '4057', '4058', 
        '4059.01', '4059.02', '4060'
    ]

    for tract in tracts:
        if year == '2022':
            # Renaming for 2022 data with semicolons
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Occupied housing units!!Estimate'] = f'Census Tract {tract} Total occupied housing units'
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Owner-occupied housing units!!Estimate'] = f'Census Tract {tract} owner-occupied units'
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Renter-occupied housing units!!Estimate'] = f'Census Tract {tract} renter-occupied units'
        else:
            # Renaming for other years with commas
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Occupied housing units!!Estimate'] = f'Census Tract {tract} Total occupied housing units'
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Owner-occupied housing units!!Estimate'] = f'Census Tract {tract} owner-occupied units'
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Renter-occupied housing units!!Estimate'] = f'Census Tract {tract} renter-occupied units'

    # Rename the columns
    df.rename(columns=rename_dict, inplace=True)

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_occupancy_df = pd.concat(dataframes, ignore_index=True)

# Move 'Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_occupancy_df.columns if col != 'Estimate Year']
merged_occupancy_df = merged_occupancy_df[column_order]

# Save the merged DataFrame to a new CSV file
# merged_occupancy_df.to_csv('filtered_merged_occupancy_df.csv', index=False)


filtered_merged_occupancy_df = merged_occupancy_df.dropna(how='all')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)  # Show full column width

filtered_merged_occupancy_df.head()

,Estimate Year,Demographic Group,Census Tract 4052 Total occupied housing units,Census Tract 4052 owner-occupied units,Census Tract 4052 renter-occupied units,Census Tract 4053.01 Total occupied housing units,Census Tract 4053.01 owner-occupied units,Census Tract 4053.01 renter-occupied units,Census Tract 4053.02 Total occupied housing units,Census Tract 4053.02 owner-occupied units,...,Census Tract 4058 renter-occupied units,Census Tract 4059.01 Total occupied housing units,Census Tract 4059.01 owner-occupied units,Census Tract 4059.01 renter-occupied units,Census Tract 4059.02 Total occupied housing units,Census Tract 4059.02 owner-occupied units,Census Tract 4059.02 renter-occupied units,Census Tract 4060 Total occupied housing units,Census Tract 4060 owner-occupied units,Census Tract 4060 renter-occupied units
0,2017,Occupied housing units,"2,407",642.0,"1,765","1,548",143.0,"1,405","1,448",77.0,...,865.0,"1,080",375.0,705.0,956.0,243.0,713.0,"1,405",136.0,"1,269"
1,2017,White,"1,080",249.0,831,853,75.0,778,619,24.0,...,165.0,175,36.0,139.0,181.0,42.0,139.0,384,28.0,356
2,2017,Black or African American,419,24.0,395,384,5.0,379,228,0.0,...,271.0,205,109.0,96.0,196.0,47.0,149.0,234,0.0,234
3,2017,American Indian and Alaska Native,46,13.0,33,7,0.0,7,7,0.0,...,9.0,51,22.0,29.0,11.0,0.0,11.0,6,0.0,6
4,2017,Asian,594,291.0,303,154,40.0,114,463,53.0,...,321.0,367,163.0,204.0,409.0,131.0,278.0,570,98.0,472

### Median Home Price data

In [47]:
# Define the directory containing the median home price data
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\housing_market"

# Specify the file pattern for median home price files
file_pattern = os.path.join(directory_path, 'acs_median_home_price_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Define the tracts for renaming
tracts = [
    '4052', '4053.01', '4053.02', '4054.01',
    '4054.02', '4055', '4056', '4057', '4058',
    '4059.01', '4059.02', '4060'
]

# Function to rename tract columns
def rename_tract_column(col_name):
    for tract in tracts:
        if tract in col_name:
            return f"Tract {tract} Estimate"
    return col_name

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    df = pd.read_csv(file)

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Rename columns, focusing on tract names
    df.columns = [rename_tract_column(col) for col in df.columns]

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_housing_df = pd.concat(dataframes, ignore_index=True)

# Move 'Estimate Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_housing_df.columns if col != 'Estimate Year']
merged_housing_df = merged_housing_df[column_order]

# Remove rows where all elements are NaN
filtered_merged_median_price_df = merged_housing_df.dropna(how='all')

# Rename the 'Label (Grouping)' column to 'Median Value (Dollars)'
filtered_merged_median_price_df.rename(columns={'Label (Grouping)': 'Median Value (Dollars)'}, inplace=True)

# Save the merged DataFrame to a new CSV file
#filtered_merged_median_price_df.to_csv('filtered_merged_median_price_df.csv', index=False)

# Display the first few rows of the filtered DataFrame
filtered_merged_median_price_df

,Estimate Year,Median Value (Dollars),Tract 4052 Estimate,Tract 4053.01 Estimate,Tract 4053.02 Estimate,Tract 4054.01 Estimate,Tract 4054.02 Estimate,Tract 4055 Estimate,Tract 4056 Estimate,Tract 4057 Estimate,Tract 4058 Estimate,Tract 4059.01 Estimate,Tract 4059.02 Estimate,Tract 4060 Estimate
0,2017,Median value (dollars),"764,100","647,700","428,300","459,500","428,600","509,300","541,300","455,700","370,000","369,100","407,600","434,500"
1,2018,Median value (dollars),"839,200","627,100","456,300","462,000","466,700","665,400","562,200","469,100","438,800","403,000","512,500","523,300"
2,2019,Median value (dollars),"888,900","682,000","585,900","498,800","573,700","687,900","563,200","484,900","463,300","434,000","533,900","571,400"
3,2020,Median value (dollars),"886,100","779,600","491,700","581,300","648,000","705,000","644,400","529,800","547,400","462,300","599,300","625,000"
4,2021,Median value (dollars),"866,500","878,700","653,800","614,100","731,100","713,100","705,200","671,200","600,400","546,900","635,100","643,100"
5,2022,Median value (dollars),"1,060,300","793,300","637,800","652,400","976,000","754,100","743,000","665,900","696,600","649,600","696,300","745,000"

### merge to create housing metric

In [44]:
# Reshape the housing occupancy DataFrame using melt, focusing on relevant columns
occupancy_melted = filtered_merged_occupancy_df.melt(id_vars=['Estimate Year'], 
                                                       value_vars=[
                                                           col for col in filtered_merged_occupancy_df.columns 
                                                           if 'Total occupied housing units' in col or 
                                                              'owner-occupied' in col or 
                                                              'renter-occupied' in col
                                                       ],
                                                       var_name='Tract', 
                                                       value_name='Occupancy Count')

# Clean the 'Tract' column to match the format in the median home prices DataFrame
occupancy_melted['Tract'] = occupancy_melted['Tract'].str.replace(' Total occupied housing units', '', regex=False)
occupancy_melted['Tract'] = occupancy_melted['Tract'].str.replace(' owner-occupied units', '', regex=False)
occupancy_melted['Tract'] = occupancy_melted['Tract'].str.replace(' renter-occupied units', '', regex=False)

# Remove any leading or trailing spaces from the Tract names
occupancy_melted['Tract'] = occupancy_melted['Tract'].str.strip()

# Convert the 'Occupancy Count' to numeric, forcing errors to NaN
occupancy_melted['Occupancy Count'] = pd.to_numeric(occupancy_melted['Occupancy Count'].str.replace(',', ''), errors='coerce')

# Aggregate the occupancy counts by Estimate Year
occupancy_aggregated = occupancy_melted.groupby('Estimate Year').agg({
    'Occupancy Count': 'mean'  
}).reset_index()

# Merge the aggregated occupancy DataFrame with median home prices based on Estimate Year
merged_data = pd.merge(occupancy_aggregated, filtered_merged_median_price_df, how='inner', 
                        left_on='Estimate Year', 
                        right_on='Estimate Year')

# Rename columns for clarity
merged_data.rename(columns={
    'Median Value (Dollars)': 'Median Home Price'
}, inplace=True)

# Optionally, save the merged dataset for further analysis
merged_data.to_csv('merged_housing_market_data.csv', index=False)
merged_data

,Estimate Year,Occupancy Count,Median Home Price,Tract 4052 Estimate,Tract 4053.01 Estimate,Tract 4053.02 Estimate,Tract 4054.01 Estimate,Tract 4054.02 Estimate,Tract 4055 Estimate,Tract 4056 Estimate,Tract 4057 Estimate,Tract 4058 Estimate,Tract 4059.01 Estimate,Tract 4059.02 Estimate,Tract 4060 Estimate
0,2017,292.675439,Median value (dollars),"764,100","647,700","428,300","459,500","428,600","509,300","541,300","455,700","370,000","369,100","407,600","434,500"
1,2018,293.607456,Median value (dollars),"839,200","627,100","456,300","462,000","466,700","665,400","562,200","469,100","438,800","403,000","512,500","523,300"
2,2019,296.430556,Median value (dollars),"888,900","682,000","585,900","498,800","573,700","687,900","563,200","484,900","463,300","434,000","533,900","571,400"
3,2020,281.964583,Median value (dollars),"886,100","779,600","491,700","581,300","648,000","705,000","644,400","529,800","547,400","462,300","599,300","625,000"
4,2021,294.262500,Median value (dollars),"866,500","878,700","653,800","614,100","731,100","713,100","705,200","671,200","600,400","546,900","635,100","643,100"
5,2022,294.570833,Median value (dollars),"1,060,300","793,300","637,800","652,400","976,000","754,100","743,000","665,900","696,600","649,600","696,300","745,000"

-------------------------------------
# Economic Stability

### Income Data

In [45]:
# Define the directory path
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\economic_stability"

# List of years to include in the concatenation
years = [2017, 2018, 2019, 2020, 2021, 2022]

# Initialize an empty list to hold DataFrames
dataframes = []

# Loop through the years and read the corresponding CSV files
for year in years:
    file_path = os.path.join(directory_path, f'income_stability_{year}.csv')
    
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # If the year is 2022, replace semicolons with commas in the column names
    if year == 2022:
        df.columns = df.columns.str.replace(';', ',', regex=False)

    # Add a year column based on the file name
    df['Estimate Year'] = year

    # Append the DataFrame to the list
    dataframes.append(df)
    
# Concatenate all DataFrames
combined_data = pd.concat(dataframes, ignore_index=True)

# Remove specified rows based on the values in a specific column (assuming the first column holds these values)
rows_to_drop = [
    "HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER",
    "HOUSEHOLD INCOME BY AGE OF HOUSEHOLDER", "FAMILIES", "FAMILY INCOME BY FAMILY SIZE", 
    "FAMILY INCOME BY NUMBER OF EARNERS", "NONFAMILY HOUSEHOLDS"
    
]
combined_data = combined_data[~combined_data.iloc[:, 0].isin(rows_to_drop)]

# Move 'Estimate Year' to the front
column_order = ['Estimate Year'] + [col for col in combined_data.columns if col != 'Estimate Year']
combined_data = combined_data[column_order]

# Remove columns that contain 'Percent' in their names
combined_data = combined_data.loc[:, ~combined_data.columns.str.contains("Percent")]

# Save the combined DataFrame to a new CSV file
output_file_path = os.path.join(directory_path, 'income_stability_combined.csv')
combined_data.to_csv(output_file_path, index=False)

# Display the first few rows of the combined DataFrame
combined_data.head(100)

,Estimate Year,Label (Grouping),"Census Tract 4052, Alameda County, California!!Number!!Estimate","Census Tract 4052, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4053.01, Alameda County, California!!Number!!Estimate","Census Tract 4053.01, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4053.02, Alameda County, California!!Number!!Estimate","Census Tract 4053.02, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4054.01, Alameda County, California!!Number!!Estimate","Census Tract 4054.01, Alameda County, California!!Median income (dollars)!!Estimate",...,"Census Tract 4057, Alameda County, California!!Number!!Estimate","Census Tract 4057, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4058, Alameda County, California!!Number!!Estimate","Census Tract 4058, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4059.01, Alameda County, California!!Number!!Estimate","Census Tract 4059.01, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4059.02, Alameda County, California!!Number!!Estimate","Census Tract 4059.02, Alameda County, California!!Median income (dollars)!!Estimate","Census Tract 4060, Alameda County, California!!Number!!Estimate","Census Tract 4060, Alameda County, California!!Median income (dollars)!!Estimate"
1,2017,Households,"2,407","77,688","1,548","62,500","1,448","41,111","1,688","46,790",...,"1,353","50,344","1,333","38,794","1,080","36,214",956,"36,000","1,405","35,457"
2,2017,One race--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,White,"1,080","83,258",853,"90,391",619,"62,431",450,"54,722",...,327,"58,750",262,"92,750",175,"51,926",181,"58,250",384,"74,938"
4,2017,Black or African American,419,"63,813",384,"38,500",228,-,404,"32,123",...,562,"34,674",393,"31,587",205,"32,083",196,"22,500",234,"27,308"
5,2017,American Indian and Alaska Native,46,"59,074",7,-,7,-,12,-,...,9,-,9,-,51,-,11,-,6,-
6,2017,Asian,594,"69,821",154,-,463,"21,893",493,-,...,306,"68,214",510,"35,714",367,"35,368",409,"34,125",570,"18,158"
7,2017,Native Hawaiian and Other Pacific Islander,0,-,7,-,0,-,0,-,...,0,-,25,-,0,-,15,-,7,-
8,2017,Some other race,152,"88,661",52,-,59,-,205,"47,695",...,98,"67,500",70,-,272,"36,528",118,"25,500",129,-
9,2017,Two or more races,116,"66,419",91,-,72,"36,316",124,"70,789",...,51,-,64,-,10,-,26,"40,625",75,"89,712"
10,2017,Hispanic or Latino origin (of any race),394,"87,946",105,-,139,"35,521",299,"46,182",...,170,"50,972",214,-,425,"50,230",215,"35,972",172,"35,500"
11,2017,"White alone, not Hispanic or Latino",911,"87,716",816,"91,875",544,"64,038",338,"57,045",...,237,"62,098",163,"132,125",50,"86,750",97,"86,250",341,"76,250"
13,2017,15 to 24 years,54,"53,594",62,"60,565",44,-,94,"49,167",...,88,-,96,"28,846",40,-,73,"18,750",33,-
14,2017,25 to 44 years,"1,215","88,083",776,"65,714",665,"48,631",782,"54,352",...,609,"51,989",510,"36,094",369,"40,703",327,"62,875",554,"66,136"
15,2017,45 to 64 years,815,"76,186",449,"78,688",390,-,582,"26,563",...,516,"52,222",561,"50,893",489,"32,629",396,"36,500",487,-
16,2017,65 years and over,323,-,261,-,349,"18,271",230,"26,875",...,140,"24,783",166,"33,333",182,"52,109",160,"26,250",331,"18,136"
18,2017,Families,"1,044","85,652",607,"66,726",438,-,734,"48,600",...,720,"50,625",926,"42,656",900,"36,643",730,"41,111",612,"35,061"
19,2017,With own children of householder under 18 years,362,-,175,"66,250",155,"31,435",296,"50,930",...,250,-,387,"26,417",465,"36,319",343,"50,054",179,"36,964"
20,2017,With no own children of householder under 18 years,682,"89,091",432,"78,500",283,"76,354",438,"43,438",...,470,"51,528",539,"49,712",435,"36,985",387,"30,347",433,"31,736"
21,2017,Married-couple families,877,"88,068",394,"96,574",322,"48,958",459,"56,875",...,441,"57,321",498,"38,333",568,"37,969",467,"44,609",529,"33,625"
22,2017,With own children under 18 years,335,-,103,"152,656",88,-,188,"58,068",...,156,-,239,"27,194",307,"40,391",242,"51,429",179,"36,964"
23,2017,"Female householder, no husband present",109,-,173,"60,972",72,-,168,-,...,181,"43,092",308,"45,455",244,"25,250",192,"38,000",68,-
24,2017,With own children under 18 years,27,-,72,"61,111",40,"2,500-",74,"46,324",...,87,-,129,"18,665",125,"19,750",97,-,0,-
25,2017,"Male householder, no wife present",58,-,40,-,44,-,107,"41,250",...,98,"57,625",120,"81,250",88,"53,333",71,"23,456",15,-
26,2017,With own children under 18 years,0,-,0,-,27,-,34,"51,429",...,7,-,19,-,33,-,4,-,0,-
28,2017,2-person families,(X),"74,732",(X),"64,167",(X),"35,250",(X),"24,013",...,(X),"54,219",(X),"42,917",(X),"31,875",(X),"24,929",(X),"35,250"
29,2017,3-person families,(X),-,(X),"66,369",(X),-,(X),"50,856",...,(X),-,(X),"45,170",(X),"56,218",(X),"29,567",(X),-
30,2017,4-person families,(X),-,(X),"167,500",(X),-,(X),"62,904",...,(X),"53,750",(X),"39,531",(X),"22,292",(X),"41,250",(X),-
31,2017,5-person families,(X),-,(X),-,(X),-,(X),"46,979",...,(X),"42,879",(X),-,(X),"44,519",(X),"62,000",(X),-
32,2017,6-person families,(X),-,(X),-,(X),-,(X),-,...,(X),-,(X),"46,033",(X),"56,484",(X),"84,375",(X),-
33,2017,7-or-more person families,(X),-,(X),-,(X),-,(X),-,...,(X),"126,295",(X),-,(X),-,(X),"85,000",(X),-
35,2017,No earners,116,"27,698",70,-,87,"17,944",73,"11,150",...,84,-,120,-,51,"33,603",88,"10,833",115,"18,092"
36,2017,1 earner,279,"107,596",138,"61,019",161,"31,528",335,"46,128",...,220,"50,139",317,"24,760",476,"23,065",258,"24,375",121,"35,708"
37,2017,2 earners,596,"91,250",383,"78,063",149,"115,625",225,"63,438",...,295,"44,390",365,"53,472",243,"42,788",253,"63,021",319,"115,139"
38,2017,3 or more earners,53,"250,000+",16,-,41,"118,194",101,-,...,121,"125,759",124,"71,613",130,"107,500",131,-,57,-
40,2017,Nonfamily households,"1,363","75,504",941,"54,967","1,010","40,903",954,"35,278",...,633,"45,524",407,"31,750",180,"26,250",226,"21,923",793,"41,625"
41,2017,Female householder,749,"76,681",543,"47,050",441,"36,932",431,"43,194",...,256,"45,481",237,"38,194",97,-,109,"37,159",458,-
42,2017,Living alone,483,"51,319",392,"42,336",382,"35,227",331,-,...,191,-,138,-,56,-,104,"36,591",338,"14,914"
43,2017,Not living alone,266,"109,074",151,"107,083",59,-,100,"73,553",...,65,"45,903",99,"70,139",41,-,5,-,120,"74,545"
44,2017,Male householder,614,"74,429",398,"62,083",569,"41,292",523,"31,840",...,377,"45,547",170,"30,769",83,"50,647",117,"18,472",335,"55,034"
45,2017,Living alone,401,"58,843",240,-,501,"35,066",376,"30,278",...,284,"45,885",110,"28,690",49,"51,563",91,"16,042",145,-
46,2017,Not living alone,213,"92,396",158,"94,808",68,-,147,"52,250",...,93,"39,522",60,"94,000",34,-,26,-,190,-
48,2018,Households,"2,427","86,307","1,584","65,208","1,401","42,682","1,730","51,434",...,"1,340","53,873","1,351","47,061","1,089","34,291",923.0,"40,089","1,465","41,971"
49,2018,One race--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2018,White,"1,164","91,854",802,"96,196",670,"64,214",410,"61,250",...,315,"67,946",277,"96,369",175,"53,264",156.0,"71,500",402,"76,111"
51,2018,Black or African American,411,"55,893",357,"54,659",169,-,416,"32,443",...,496,"32,872",369,"43,125",193,"31,050",169.0,"33,906",261,"31,932"
52,2018,American Indian and Alaska Native,25,-,0,-,8,-,0,-,...,17,-,17,-,56,-,11.0,-,10,-
53,2018,Asian,604,"78,816",194,"40,227",443,"23,322",524,"48,333",...,333,"73,315",531,"37,361",359,"36,359",443.0,"32,009",587,"23,194"
54,2018,Native Hawaiian and Other Pacific Islander,0,-,14,-,0,-,0,-,...,0,-,20,-,11,-,2.0,-,8,-
55,2018,Some other race,125,-,111,-,55,-,242,"50,227",...,114,"68,125",95,"65,221",265,"24,479",119.0,"36,705",137,"36,750"
56,2018,Two or more races,98,"81,250",106,-,56,"36,250",138,"76,364",...,65,"38,125",42,-,30,-,23.0,"31,875",60,-
57,2018,Hispanic or Latino origin (of any race),370,"110,714",192,"98,056",142,"32,097",262,"50,985",...,189,"65,417",211,"46,424",445,"32,708",175.0,"45,125",208,"58,125"
58,2018,"White alone, not Hispanic or Latino","1,013","92,037",756,"95,652",576,"75,313",335,"60,188",...,230,"76,786",193,"135,037",49,"88,631",106.0,"90,588",341,"108,875"
60,2018,15 to 24 years,57,"53,292",44,"63,214",50,-,81,"66,080",...,74,"69,643",63,"37,917",64,-,62.0,"14,444",25,-
61,2018,25 to 44 years,"1,154","91,711",827,"81,625",669,"52,575",863,"61,438",...,634,"57,639",525,"46,629",366,"38,716",311.0,"72,250",514,"70,000"
62,2018,45 to 64 years,791,"82,250",449,"67,321",368,"46,447",531,"31,450",...,482,"53,125",573,"62,067",466,"29,792",338.0,"41,000",590,"42,212"
63,2018,65 years and over,425,"65,188",264,"35,789",314,"19,717",255,"30,923",...,150,"30,417",190,"34,167",193,"54,234",212.0,"20,694",336,"16,087"
65,2018,Families,958,"108,452",612,"67,241",484,"49,375",699,"53,527",...,688,"56,641",934,"46,815",904,"34,662",693.0,"44,583",667,"37,614"
66,2018,With own children of householder under 18 years,327,"127,750",173,-,155,"31,411",276,"50,500",...,253,-,371,"31,157",419,"37,534",278.0,"65,208",167,"36,464"
67,2018,With no own children of householder under 18 years,631,"104,450",439,"64,375",329,"98,393",423,"60,288",...,435,"72,989",563,"61,776",485,"34,628",415.0,"34,148",500,"41,442"
68,2018,Married-couple families,799,"111,827",458,"99,167",357,"68,229",490,"60,577",...,435,"74,306",433,"35,139",535,"37,703",447.0,"48,250",527,-
69,2018,With own children under 18 years,316,"114,038",109,"163,750",80,-,187,"56,063",...,163,-,186,"30,185",244,"39,265",211.0,"72,250",167,"36,464"
70,2018,"Female householder, no husband present",122,"109,231",154,"63,977",67,-,133,"45,813",...,147,-,397,"57,031",255,"22,436",187.0,"34,844",125,"35,368"
71,2018,With own children under 18 years,11,-,64,"65,690",44,"2,500-",54,"46,125",...,90,-,159,-,132,"21,250",64.0,"50,469",0,-
72,2018,"Male householder, no wife present",37,-,0,-,60,-,76,"67,813",...,106,"44,815",104,-,114,"34,861",59.0,"31,625",15,-
73,2018,With own children under 18 years,0,-,0,-,31,-,35,-,...,0,-,26,-,43,-,3.0,-,0,-
75,2018,2-person families,497,"103,450",394,"64,583",315,-,259,"46,827",...,303,"60,885",297,"31,369",221,"27,303",229.0,"31,750",315,"41,683"
76,2018,3-person families,197,"162,596",196,"66,983",76,-,213,"52,891",...,151,-,222,"61,739",213,"39,556",190.0,"31,458",115,"84,602"
77,2018,4-person families,239,-,11,-,82,-,131,"62,878",...,131,"44,813",185,"60,347",172,"22,440",95.0,-,169,-
78,2018,5-person families,20,-,1,-,0,-,78,"56,875",...,58,"10,750",131,"52,656",180,"39,706",93.0,"63,750",36,"39,091"
79,2018,6-person families,0,-,10,-,0,-,0,-,...,4,-,64,"46,337",93,-,49.0,"105,521",32,"35,972"
80,2018,7-or-more person families,5,-,0,-,11,-,18,-,...,41,"131,250",35,-,25,-,37.0,"110,179",0,-
82,2018,No earners,132,"28,304",80,"26,786",100,"18,167",78,"12,241",...,55,-,135,"25,625",76,"34,444",125.0,"14,554",74,"11,779"
83,2018,1 earner,255,"111,827",92,"63,854",164,"31,129",286,"52,500",...,229,"50,625",310,"30,500",531,"22,804",180.0,-,134,"32,604"
84,2018,2 earners,507,"131,375",429,"79,125",181,"104,803",270,"67,679",...,277,"46,193",375,"66,544",190,"52,714",249.0,"71,354",399,"82,670"
85,2018,3 or more earners,64,"250,000+",11,-,39,"123,068",65,"52,434",...,127,"97,266",114,"73,571",107,"115,781",139.0,"79,904",60,-
87,2018,Nonfamily households,"1,469","78,380",972,"62,143",917,"41,888","1,031","40,990",...,652,"47,143",417,"50,156",185,"21,844",230.0,"31,875",798,"55,227"
88,2018,Female householder,833,"80,446",501,"48,472",377,"45,855",486,"40,556",...,304,"39,808",287,"45,586",89,-,120.0,"45,469",375,-
89,2018,Living alone,493,"56,607",399,"42,958",327,"37,404",378,"26,944",...,213,"37,837",180,-,43,-,114.0,"42,500",273,-
90,2018,Not living alone,340,"110,357",102,"120,156",50,"100,357",108,"64,722",...,91,-,107,"73,021",46,-,6.0,-,102,"82,794"
91,2018,Male householder,636,"73,417",471,"69,607",540,"40,585",545,"41,250",...,348,"48,913",130,"62,500",96,-,110.0,"16,250",423,"56,932"
92,2018,Living alone,393,"52,417",265,"52,938",463,"28,237",391,"31,850",...,279,"47,250",56,-,65,-,83.0,-,239,-
93,2018,Not living alone,243,"92,589",206,"168,214",77,"75,972",154,"74,167",...,69,"68,393",74,"95,833",31,-,27.0,-,184,-
95,2019,Households,"2,414","90,532","1,572","84,917","1,377","47,444","1,657","51,018",...,"1,368","61,444","1,338","48,846","1,100","42,028",925.0,"44,922","1,551","46,394"
96,2019,One race--,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2019,White,"1,230","94,444",907,"112,014",572,"64,844",441,"60,850",...,293,"80,625",275,"125,469",162,"72,065",139.0,"92,102",523,"73,958"
98,2019,Black or African American,342,"54,565",243,"56,302",233,"75,607",314,"39,545",...,451,"33,918",372,"48,750",191,"34,904",183.0,"48,359",271,-
99,2019,American Indian and Alaska Native,15,-,0,-,8,-,0,-,...,14,-,19,-,19,-,6.0,-,6,-
100,2019,Asian,599,"107,580",186,-,490,"21,991",539,"48,977",...,413,"76,125",525,"31,588",394,-,430.0,"32,500",567,"35,972"
101,2019,Native Hawaiian and Other Pacific Islander,0,-,13,-,0,-,0,-,...,0,-,25,-,9,-,0.0,-,3,-
102,2019,Some other race,132,"92,155",107,-,25,"83,375",245,"41,860",...,118,"62,100",79,"60,893",286,"30,909",137.0,"39,432",132,"38,387"
103,2019,Two or more races,96,-,116,"130,071",49,"45,375",118,"95,395",...,79,"60,104",43,-,39,-,30.0,"44,500",49,"188,011"
104,2019,Hispanic or Latino origin (of any race),325,"94,018",208,-,106,"33,981",276,"51,419",...,149,"70,625",178,"46,447",427,"51,083",200.0,"46,071",291,"46,298"
105,2019,"White alone, not Hispanic or Latino","1,080","97,500",856,"111,528",502,"70,556",388,"58,750",...,239,"81,042",204,"138,828",47,"91,250",91.0,"95,750",370,"118,056"
107,2019,15 to 24 years,49,"53,867",7,-,29,"84,844",59,-,...,85,"82,629",44,-,62,-,50.0,"17,813",25,-
108,2019,25 to 44 years,"1,176","94,615",849,"112,366",655,"75,607",838,"71,250",...,663,"63,125",536,"50,227",444,"58,629",324.0,"90,227",529,"67,589"
109,2019,45 to 64 years,734,"92,857",486,"81,548",353,"45,387",500,"47,143",...,533,"54,596",524,"61,071",390,"34,808",325.0,"46,534",649,"57,875"
110,2019,65 years and over,455,"52,365",230,"35,938",340,"19,000",260,"25,119",...,87,-,234,"33,125",204,-,226.0,"18,611",348,"14,934"
112,2019,Families,984,"117,885",558,"82,407",460,-,726,"52,500",...,646,"75,142",907,"48,125",932,"45,714",657.0,"43,672",744,"44,657"
113,2019,With own children of householder under 18 years,344,"168,750",184,"73,750",126,"36,250",284,"47,333",...,265,"49,542",384,"40,250",391,"54,196",260.0,"53,750",263,"38,505"
114,2019,With no own children of householder under 18 years,640,"109,063",374,"84,868",334,"103,077",442,"62,206",...,381,"77,107",523,"53,958",541,"39,479",397.0,"36,964",481,"64,904"

### Employment

------------------------------------
# Inclusive Growth score

In [15]:
IG_data = pd.read_csv('Inclusive_Growth_Score_Data.csv')
IG_data

,N/A,Is an Opportunity Zone,Census Tract FIPS code,County,State,Year,Inclusive Growth Score,Growth,Inclusion,Place,...,"Female Above Poverty Tract, %",Gini Coefficient Score,Gini Coefficient Base,Gini Coefficient Tract,Early Education Enrollment Score,"Early Education Enrollment Base, %","Early Education Enrollment Tract, %",Health Insurance Coverage Score,"Health Insurance Coverage Base, %","Health Insurance Coverage Tract, %"
0,0,NaN,6001405302,Alameda County,California,2017,44,51,36,40,...,71.2,6,41.3,52.8,77.0,25.5,37.6,27,91.2,86.7
1,1,NaN,6001405302,Alameda County,California,2018,42,47,38,47,...,77.0,5,41.5,53.4,53.0,25.5,26.6,33,92.3,89.3
2,2,NaN,6001405302,Alameda County,California,2019,42,45,38,40,...,80.6,3,41.6,55.8,34.0,25.3,19.6,33,93.3,90.7
3,3,NaN,6001405302,Alameda County,California,2020,43,42,44,35,...,84.9,4,41.6,55.3,21.0,25.4,14.6,34,94.2,91.9
4,4,NaN,6001405302,Alameda County,California,2021,44,44,45,38,...,86.4,6,41.3,53.6,NaN,27.5,NaN,34,95.0,92.8
5,5,NaN,6001405302,Alameda County,California,2022,44,42,46,49,...,83.4,19,41.3,47.8,NaN,27.4,NaN,30,94.9,92.1
6,6,NaN,6001405200,Alameda County,California,2017,63,60,66,70,...,92.9,53,41.3,40.9,92.0,25.5,51.4,72,91.2,94.6
7,7,NaN,6001405200,Alameda County,California,2018,65,65,65,70,...,93.4,43,41.5,42.6,98.0,25.5,66.2,82,92.3,96.5
8,8,NaN,6001405200,Alameda County,California,2019,64,66,63,69,...,94.0,34,41.6,44.2,99.0,25.3,76.5,79,93.3,96.7
9,9,NaN,6001405200,Alameda County,California,2020,64,69,60,66,...,94.3,28,41.6,45.5,99.0,25.4,72.4,73,94.2,96.6
10,10,NaN,6001405200,Alameda County,California,2021,54,58,50,63,...,92.1,24,41.3,46.3,95.0,27.5,63.7,54,95.0,95.5
11,11,NaN,6001405200,Alameda County,California,2022,44,47,42,54,...,90.9,22,41.3,46.9,7.0,27.4,9.0,42,94.9,94.0
12,12,NaN,6001405301,Alameda County,California,2017,50,43,56,54,...,92.0,65,41.3,39.1,33.0,25.5,19.5,57,91.2,92.2
13,13,NaN,6001405301,Alameda County,California,2018,56,57,56,59,...,91.8,53,41.5,41.1,52.0,25.5,26.3,51,92.3,92.3
14,14,NaN,6001405301,Alameda County,California,2019,54,51,56,48,...,89.9,45,41.6,42.3,61.0,25.3,29.4,52,93.3,93.6
15,15,NaN,6001405301,Alameda County,California,2020,56,56,57,46,...,88.5,44,41.6,42.6,84.0,25.4,42.0,46,94.2,93.8
16,16,NaN,6001405301,Alameda County,California,2021,45,34,56,45,...,86.0,40,41.3,43.0,91.0,27.5,55.9,49,95.0,94.8
17,17,NaN,6001405301,Alameda County,California,2022,49,41,57,46,...,87.6,40,41.3,43.0,95.0,27.4,66.9,41,94.9,93.8
18,18,NaN,6001405700,Alameda County,California,2017,44,51,38,45,...,79.6,56,41.3,40.4,64.0,25.5,30.9,58,91.2,92.4
19,19,NaN,6001405700,Alameda County,California,2018,38,36,39,48,...,78.5,62,41.5,39.8,79.0,25.5,38.5,54,92.3,92.8
20,20,NaN,6001405700,Alameda County,California,2019,47,54,40,56,...,77.5,59,41.6,40.4,90.0,25.3,47.6,56,93.3,94.1
21,21,NaN,6001405700,Alameda County,California,2020,50,52,47,52,...,78.0,50,41.6,41.6,94.0,25.4,53.9,62,94.2,95.5
22,22,NaN,6001405700,Alameda County,California,2021,52,47,58,54,...,84.7,68,41.3,38.4,93.0,27.5,59.2,52,95.0,95.2
23,23,NaN,6001405700,Alameda County,California,2022,50,47,54,54,...,86.0,56,41.3,40.3,61.0,27.4,32.5,43,94.9,94.1
24,24,NaN,6001405500,Alameda County,California,2017,46,46,45,50,...,77.6,34,41.3,43.9,89.0,25.5,46.6,35,91.2,88.3
25,25,NaN,6001405500,Alameda County,California,2018,49,52,46,56,...,76.4,41,41.5,43.0,72.0,25.5,34.8,42,92.3,91.1
26,26,NaN,6001405500,Alameda County,California,2019,54,59,48,60,...,77.3,45,41.6,42.3,62.0,25.3,30.0,49,93.3,93.2
27,27,NaN,6001405500,Alameda County,California,2020,52,57,47,55,...,78.7,46,41.6,42.3,46.0,25.4,23.8,55,94.2,94.8
28,28,NaN,6001405500,Alameda County,California,2021,43,47,39,51,...,79.7,47,41.3,41.7,10.0,27.5,10.8,43,95.0,94.1
29,29,NaN,6001405500,Alameda County,California,2022,44,46,41,51,...,86.0,42,41.3,42.7,27.0,27.4,18.0,38,94.9,93.4
30,30,Yes,6001406000,Alameda County,California,2017,53,57,49,48,...,54.3,3,41.3,55.8,69.0,25.5,33.4,21,91.2,85.0
31,31,Yes,6001406000,Alameda County,California,2018,46,44,49,42,...,57.2,5,41.5,54.1,78.0,25.5,37.9,13,92.3,84.1
32,32,Yes,6001406000,Alameda County,California,2019,53,57,49,52,...,59.8,7,41.6,52.6,90.0,25.3,46.9,13,93.3,85.9
33,33,Yes,6001406000,Alameda County,California,2020,54,61,48,55,...,68.4,8,41.6,51.8,96.0,25.4,57.8,13,94.2,87.0
34,34,Yes,6001406000,Alameda County,California,2021,60,68,52,56,...,87.3,13,41.3,49.6,72.0,27.5,38.3,66,95.0,96.6
35,35,Yes,6001406000,Alameda County,California,2022,56,60,52,60,...,87.9,13,41.3,49.7,43.0,27.4,24.5,43,94.9,94.1
36,36,Yes,6001405901,Alameda County,California,2017,32,49,14,48,...,56.2,14,41.3,48.5,39.0,25.5,21.6,7,91.2,79.5
37,37,Yes,6001405901,Alameda County,California,2018,32,49,16,50,...,59.6,15,41.5,48.5,31.0,25.5,18.5,16,92.3,85.0
38,38,Yes,6001405901,Alameda County,California,2019,26,33,18,38,...,58.9,18,41.6,47.8,23.0,25.3,15.3,36,93.3,91.2
39,39,Yes,6001405901,Alameda County,California,2020,32,43,20,35,...,62.0,23,41.6,46.6,21.0,25.4,14.7,50,94.2,94.2
40,40,Yes,6001405901,Alameda County,California,2021,33,41,25,34,...,72.4,31,41.3,44.7,9.0,27.5,10.2,33,95.0,92.6
41,41,Yes,6001405901,Alameda County,California,2022,30,35,25,32,...,74.1,37,41.3,43.5,14.0,27.4,12.5,24,94.9,91.0
42,42,Yes,6001405902,Alameda County,California,2017,36,35,36,36,...,65.9,30,41.3,44.5,32.0,25.5,19.0,21,91.2,85.1
43,43,Yes,6001405902,Alameda County,California,2018,37,40,34,32,...,67.4,25,41.5,45.9,30.0,25.5,18.2,21,92.3,86.5
44,44,Yes,6001405902,Alameda County,California,2019,39,46,32,38,...,70.3,16,41.6,48.4,22.0,25.3,14.9,25,93.3,89.2
45,45,Yes,6001405902,Alameda County,California,2020,38,48,28,34,...,73.9,15,41.6,48.7,16.0,25.4,12.0,37,94.2,92.5
46,46,Yes,6001405902,Alameda County,California,2021,40,50,31,39,...,77.6,24,41.3,46.4,13.0,27.5,12.5,56,95.0,95.6
47,47,Yes,6001405902,Alameda County,California,2022,41,48,34,43,...,81.3,31,41.3,44.7,14.0,27.4,12.7,55,94.9,95.5
48,48,NaN,6001405600,Alameda County,California,2017,51,65,37,48,...,89.5,40,41.3,42.9,23.0,25.5,15.4,22,91.2,85.3
49,49,NaN,6001405600,Alameda County,California,2018,44,48,39,46,...,87.9,44,41.5,42.4,39.0,25.5,21.4,28,92.3,88.3
50,50,NaN,6001405600,Alameda County,California,2019,46,50,41,47,...,87.0,48,41.6,41.9,38.0,25.3,21.0,35,93.3,91.2
51,51,NaN,6001405600,Alameda County,California,2020,46,50,43,46,...,86.4,47,41.6,42.2,34.0,25.4,19.7,40,94.2,92.9
52,52,NaN,6001405600,Alameda County,California,2021,42,47,37,46,...,88.0,28,41.3,45.4,NaN,27.5,NaN,15,95.0,88.6
53,53,NaN,6001405600,Alameda County,California,2022,37,36,38,38,...,84.1,24,41.3,46.2,2.0,27.4,4.8,21,94.9,90.2
54,54,NaN,6001405800,Alameda County,California,2017,45,58,32,44,...,62.2,19,41.3,47.0,26.0,25.5,16.9,24,91.2,85.7
55,55,NaN,6001405800,Alameda County,California,2018,38,45,31,50,...,61.0,15,41.5,48.4,24.0,25.5,16.0,27,92.3,88.0
56,56,NaN,6001405800,Alameda County,California,2019,36,41,31,48,...,64.7,18,41.6,47.9,19.0,25.3,13.7,22,93.3,88.5
57,57,NaN,6001405800,Alameda County,California,2020,42,55,29,53,...,67.0,19,41.6,47.5,20.0,25.4,14.1,16,94.2,88.3
58,58,NaN,6001405800,Alameda County,California,2021,40,45,36,49,...,79.7,22,41.3,46.7,94.0,27.5,62.3,9,95.0,85.4
59,59,NaN,6001405800,Alameda County,California,2022,42,48,36,44,...,79.1,23,41.3,46.5,90.0,27.4,55.1,11,94.9,86.7
60,60,NaN,6001405401,Alameda County,California,2017,43,53,33,54,...,70.2,34,41.3,43.9,56.0,25.5,27.7,4,91.2,76.7
61,61,NaN,6001405401,Alameda County,California,2018,42,50,34,48,...,73.5,53,41.5,41.0,41.0,25.5,22.1,5,92.3,79.6
62,62,NaN,6001405401,Alameda County,California,2019,45,53,37,46,...,77.1,63,41.6,39.6,49.0,25.3,24.9,15,93.3,86.3
63,63,NaN,6001405401,Alameda County,California,2020,45,42,48,42,...,81.8,61,41.6,40.0,66.0,25.4,31.5,35,94.2,92.1
64,64,NaN,6001405401,Alameda County,California,2021,48,46,50,38,...,89.5,27,41.3,45.5,71.0,27.5,37.9,60,95.0,96.0
65,65,NaN,6001405401,Alameda County,California,2022,42,41,44,37,...,86.4,20,41.3,47.4,85.0,27.4,48.7,36,94.9,93.0