In [132]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns
import glob
import os
import re

# Demographic Metric

### Race data

In [133]:
# Specify the directory where your files are located
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\demographic"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_race_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    try:
        df = pd.read_csv(file)

        # Add a year column based on the file name
        year = os.path.basename(file).split('_')[-1].split('.')[0]
        df['Year'] = year

        # Check if the year is 2022 and rename columns accordingly
        if year == '2022':
            df.rename(columns={
                'Label (Grouping)': 'Demographic Group',
                'Census Tract 4052; Alameda County; California!!Estimate': 'Census Tract 4052 Estimate',
                'Census Tract 4053.01; Alameda County; California!!Estimate': 'Census Tract 4053.01 Estimate',
                'Census Tract 4053.02; Alameda County; California!!Estimate': 'Census Tract 4053.02 Estimate',
                'Census Tract 4054.01; Alameda County; California!!Estimate': 'Census Tract 4054.01 Estimate',
                'Census Tract 4054.02; Alameda County; California!!Estimate': 'Census Tract 4054.02 Estimate',
                'Census Tract 4055; Alameda County; California!!Estimate': 'Census Tract 4055 Estimate',
                'Census Tract 4056; Alameda County; California!!Estimate': 'Census Tract 4056 Estimate',
                'Census Tract 4057; Alameda County; California!!Estimate': 'Census Tract 4057 Estimate',
                'Census Tract 4058; Alameda County; California!!Estimate': 'Census Tract 4058 Estimate',
                'Census Tract 4059.01; Alameda County; California!!Estimate': 'Census Tract 4059.01 Estimate',
                'Census Tract 4059.02; Alameda County; California!!Estimate': 'Census Tract 4059.02 Estimate',
                'Census Tract 4060; Alameda County; California!!Estimate': 'Census Tract 4060 Estimate',
                'Year': 'Estimate Year'
            }, inplace=True)
        else:
            # For other years, rename using the standard format (with commas)
            df.rename(columns={
                'Label (Grouping)': 'Demographic Group',
                'Census Tract 4052, Alameda County, California!!Estimate': 'Census Tract 4052 Estimate',
                'Census Tract 4053.01, Alameda County, California!!Estimate': 'Census Tract 4053.01 Estimate',
                'Census Tract 4053.02, Alameda County, California!!Estimate': 'Census Tract 4053.02 Estimate',
                'Census Tract 4054.01, Alameda County, California!!Estimate': 'Census Tract 4054.01 Estimate',
                'Census Tract 4054.02, Alameda County, California!!Estimate': 'Census Tract 4054.02 Estimate',
                'Census Tract 4055, Alameda County, California!!Estimate': 'Census Tract 4055 Estimate',
                'Census Tract 4056, Alameda County, California!!Estimate': 'Census Tract 4056 Estimate',
                'Census Tract 4057, Alameda County, California!!Estimate': 'Census Tract 4057 Estimate',
                'Census Tract 4058, Alameda County, California!!Estimate': 'Census Tract 4058 Estimate',
                'Census Tract 4059.01, Alameda County, California!!Estimate': 'Census Tract 4059.01 Estimate',
                'Census Tract 4059.02, Alameda County, California!!Estimate': 'Census Tract 4059.02 Estimate',
                'Census Tract 4060, Alameda County, California!!Estimate': 'Census Tract 4060 Estimate',
                'Year': 'Estimate Year'
            }, inplace=True)

        # Append the modified DataFrame to the list
        dataframes.append(df)

    except Exception as e:
        print(f"Error reading {file}: {e}")

# Concatenate all DataFrames into a single DataFrame
merged_race_df = pd.concat(dataframes, ignore_index=True)

# Move 'Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_race_df.columns if col != 'Estimate Year']
merged_race_df = merged_race_df[column_order]

# Save the merged DataFrame to a new CSV file
merged_race_df.to_csv('merged_acs_race_data.csv', index=False)

excel_file_path = r"C:\Users\jabba\Desktop\Code\merged_race.xlsx" 
df.to_excel(excel_file_path, index=False) 

# Display the modified DataFrame
merged_race_df.head(10)

  Estimate Year                                                     Demographic Group Census Tract 4052 Estimate Census Tract 4053.01 Estimate Census Tract 4053.02 Estimate Census Tract 4054.01 Estimate Census Tract 4054.02 Estimate Census Tract 4055 Estimate Census Tract 4056 Estimate Census Tract 4057 Estimate Census Tract 4058 Estimate Census Tract 4059.01 Estimate Census Tract 4059.02 Estimate Census Tract 4060 Estimate
0          2017                                                                Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184
1          2017                                                           White alone                      1,930                         1,552                           885                         1,061                           404                      1,152                      1,221                        814                      1,008                           692                           590                        837
2          2017                                       Black or African American alone                        711                           757                           367                           806                           841                        585                        482                      1,229                      1,053                           815                           436                        435
3          2017                               American Indian and Alaska Native alone                         58                             7                            16                            87                            68                         14                        110                          9                         54                           185                            31                         33
4          2017                                                           Asian alone                      1,519                           275                           848                         1,362                         1,117                      2,051                        875                      1,179                      1,918                         1,652                         1,480                      1,377
5          2017                      Native Hawaiian and Other Pacific Islander alone                         68                             7                             0                             0                           219                          6                          0                          0                         25                             0                            56                          7
6          2017                                                 Some other race alone                        282                           201                           134                           508                           447                         51                        237                        354                        223                         1,201                           407                        342
7          2017                                                    Two or more races:                        557                           220                           196                           190                           154                        265                        246                        175                        191                            38                           101                        153
8          2017                                   Two races including Some other race                        122                            24                            11                            27                            20                         50                         96                          4                         94                            38                            37                         10
9          2017          Two races excluding Some other race, and three or more races                        435                           196                           185                           163                           134                        215                        150                        171                         97                             0                            64                        143

### Age and Sex data

In [134]:
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\demographic"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_age_sex*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Specify age groups to drop
age_groups_to_drop = ['AGE', 'SUMMARY INDICATORS', 'Sex ratio (males per 100 females)', 
                      'PERCENT ALLOCATED', 'Sex', 'Age', 'SELECTED AGE CATEGORIES', '5 to 14 years','15 to 17 years', 'Under 18 years',
                     '18 to 24 years', '15 to 44 years', '16 years and over', '18 years and over', '21 years and over', '60 years and over',
                     '62 years and over', '65 years and over', '75 years and over']

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    try:
        df = pd.read_csv(file)

        # Add a year column based on the file name
        year = os.path.basename(file).split('_')[-1].split('.')[0]
        df['Year'] = year

        # Normalize age group names and drop rows based on specified age groups
        df['Label (Grouping)'] = df['Label (Grouping)'].str.strip()  # Remove leading/trailing whitespace
        df = df[~df['Label (Grouping)'].isin(age_groups_to_drop)]

        # Rename columns for estimate year
        df.rename(columns={
            'Label (Grouping)': 'Age Group',
            'Year': 'Estimate Year'  # Corrected the empty string issue
        }, inplace=True)

        # Identify and rename columns that have 'Total', 'Male', 'Female'
        new_column_names = {}
        columns_to_drop = []

        for col in df.columns:
            # Check for percentage columns
            if 'Percent' in col:
                columns_to_drop.append(col)
                continue

            # Match pattern and extract tract number and type (Total, Male, Female)
            match = re.search(r'Census Tract ([\d.]+)[,;].*!!(Total|Male|Female)!!Estimate', col)
            if match:
                tract_number = match.group(1).replace('.', '')  # Clean tract number
                gender = match.group(2)
                new_column_name = f'Total Estimate for Tract {tract_number}' if gender == 'Total' else f'{gender} Estimate for Tract {tract_number}'
                new_column_names[col] = new_column_name

        # Rename the columns
        df.rename(columns=new_column_names, inplace=True)

        # Drop columns that contain percentages
        df.drop(columns=columns_to_drop, inplace=True, errors='ignore')

        # Append the modified DataFrame to the list
        dataframes.append(df)

    except Exception as e:
        print(f"Error reading {file}: {e}")

# Concatenate all DataFrames into a single DataFrame
merged_age_sex_df = pd.concat(dataframes, ignore_index=True)

# Move 'Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_age_sex_df.columns if col != 'Estimate Year']
merged_age_sex_df = merged_age_sex_df[column_order]

# Save the merged DataFrame to a new CSV file
merged_age_sex_df.to_csv('merged_acs_age_sex_data.csv', index=False)


excel_file_path = r"C:\Users\jabba\Desktop\Code\merged_age_sex.xlsx" 
df.to_excel(excel_file_path, index=False) 

# Display the modified DataFrame
merged_age_sex_df.head(25)

   Estimate Year                 Age Group Total Estimate for Tract 4052 Male Estimate for Tract 4052 Female Estimate for Tract 4052 Total Estimate for Tract 405301 Male Estimate for Tract 405301 Female Estimate for Tract 405301 Total Estimate for Tract 405302 Male Estimate for Tract 405302 Female Estimate for Tract 405302 Total Estimate for Tract 405401 Male Estimate for Tract 405401 Female Estimate for Tract 405401 Total Estimate for Tract 405402 Male Estimate for Tract 405402 Female Estimate for Tract 405402 Total Estimate for Tract 4055 Male Estimate for Tract 4055 Female Estimate for Tract 4055 Total Estimate for Tract 4056 Male Estimate for Tract 4056 Female Estimate for Tract 4056 Total Estimate for Tract 4057 Male Estimate for Tract 4057 Female Estimate for Tract 4057 Total Estimate for Tract 4058 Male Estimate for Tract 4058 Female Estimate for Tract 4058 Total Estimate for Tract 405901 Male Estimate for Tract 405901 Female Estimate for Tract 405901 Total Estimate for Tract 405902 Male Estimate for Tract 405902 Female Estimate for Tract 405902 Total Estimate for Tract 4060 Male Estimate for Tract 4060 Female Estimate for Tract 4060
0           2017          Total population                         5,125                        2,617                          2,508                           3,019                          1,336                            1,683                           2,446                          1,317                            1,129                           4,014                          1,948                            2,066                           3,250                          1,624                            1,626                         4,124                        1,971                          2,153                         3,171                        1,797                          1,374                         3,760                        1,927                          1,833                         4,472                        2,159                          2,313                           4,583                          1,988                            2,595                           3,101                          1,559                            1,542                         3,184                        1,449                          1,735
1           2017             Under 5 years                           212                          116                             96                             180                             45                              135                             109                             81                               28                             159                            121                               38                             187                            118                               69                           139                           72                             67                           168                          135                             33                           197                           59                            138                           129                           84                             45                             338                            196                              142                             192                            110                               82                            53                           39                             14
2           2017              5 to 9 years                           263                          127                            136                              57                             57                                0                              73                             37                               36                             178                             56                              122                             224                            165                               59                           168                           96                             72                           133                           57                             76                           193                           79                            114                           345                          126                            219                             426                            137                              289                             130                             51                               79                            98                           66                             32
3           2017            10 to 14 years                           100                           64                             36                              19                             19                                0                              62                             27                               35                             167                             32                              135                             226                            140                               86                           224                           63                            161                           166                          128                             38                           181                          112                             69                           299                          134                            165                             259                             69                              190                             199                            109                               90                            85                           19                             66
4           2017            15 to 19 years                            48                           25                             23                             129                             90                               39                              26                              6                               20                              81                             22                               59                             228                             91                              137                           121                           42                             79                           205                          117                             88                           207                          124                             83                           298                          109                            189                             354                            119                              235                             266                            116                              150                            70                           37                             33
5           2017            20 to 24 years                           224                          196                             28                             157                             79                               78                              79                             17                               62                             361                            202                              159                             239                             84                              155                           262                          131                            131                           165                           62                            103                           219                           81                            138                           464                          259                            205                             288                            117                              171                             336                            184                              152                           364                          176                            188
6           2017            25 to 29 years                           838                          426                            412                             339                            112                              227                             328                            181                              147                             627                            272                              355                             307                            202                              105                           631                          241                            390                           266                          158                            108                           392                          209                            183                           324                          232                             92                             611                            213                              398                             319                            162                              157                           390                          253                            137
7           2017            30 to 34 years                           863                          434                            429                             471                            190                              281                             290                            220                               70                             440                            295                              145                             217                            117                              100                           572                          362                            210                           388                          219                            169                           468                          251                            217                           433                          156                            277                             466                            252                              214                             265                            126                              139                           256                           89                            167
8           2017            35 to 39 years                           280                          129                            151                             305                            105                              200                             258                            123                              135                             307                            174                              133                             307                            109                              198                           316                          160                            156                           227                          143                             84                           286                          177                            109                           398                          206                            192                             131                             51                               80                             162                            104                               58                           238                          114                            124
9           2017            40 to 44 years                           498                          249                            249                             336                            128                              208                             151                             93                               58                             298                            117                              181                             379                            227                              152                           163                           69                             94                           471                          221                            250                           357                          199                            158                           312                          155                            157                             224                            115                              109                             199                             90                              109                           231                          128                            103
10          2017            45 to 49 years                           317                          167                            150                             186                            103                               83                             117                             66                               51                             221                            125                               96                             170                             63                              107                           232                           96                            136                           198                          156                             42                           130                           54                             76                           244                          120                            124                             352                            167                              185                             198                             85                              113                           153                           41                            112
11          2017            50 to 54 years                           251                          138                            113                             206                            106                              100                             164                            105                               59                             338                            136                              202                             304                            115                              189                           349                          178                            171                           186                           96                             90                           315                          131                            184                           298                          123                            175                             288                            154                              134                             174                             78                               96                           307                          124                            183
12          2017            55 to 59 years                           277                           95                            182                             161                             89                               72                             182                             89                               93                             177                            107                               70                             179                             70                              109                           192                          142                             50                           116                           54                             62                           264                          182                             82                           245                          136                            109                             247                            144                              103                             164                             90                               74                           162                           49                            113
13          2017            60 to 64 years                           350                          135                            215                              96                             43                               53                             150                             99                               51                             192                            106                               86                             121                             67                               54                           282                          109                            173                           132                           55                             77                           209                           82                            127                           306                          129                            177                             195                             69                              126                             222                            104                              118                           198                          108                             90
14          2017            65 to 69 years                           338                          185                            153                             163                             79                               84                              96                             47                               49                             163                             71                               92                              22                             15                                7                           155                           45                            110                           200                          144                             56                           190                           95                             95                           137                           68                             69                             195                            127                               68                             100                             58                               42                           104                           45                             59
15          2017            70 to 74 years                            94                           62                             32                              72                             28                               44                             141                             30                              111                             101                             39                               62                              27                             19                                8                           105                           43                             62                            25                            7                             18                            91                           61                             30                            56                           24                             32                              67                             38                               29                              58                             25                               33                           156                           77                             79

### Merge to create demographic metric

In [135]:
# Merge the datasets on a common column, here assumed to be 'Estimate Year'
# You might need to adjust the merging columns based on the actual structure of your data
merged_df = pd.merge(merged_race_df, merged_age_sex_df, on='Estimate Year', how='outer')

# Display the first few rows of the merged DataFrame
merged_df.head()

  Estimate Year Demographic Group Census Tract 4052 Estimate Census Tract 4053.01 Estimate Census Tract 4053.02 Estimate Census Tract 4054.01 Estimate Census Tract 4054.02 Estimate Census Tract 4055 Estimate Census Tract 4056 Estimate Census Tract 4057 Estimate Census Tract 4058 Estimate Census Tract 4059.01 Estimate Census Tract 4059.02 Estimate Census Tract 4060 Estimate         Age Group Total Estimate for Tract 4052 Male Estimate for Tract 4052 Female Estimate for Tract 4052 Total Estimate for Tract 405301 Male Estimate for Tract 405301 Female Estimate for Tract 405301 Total Estimate for Tract 405302 Male Estimate for Tract 405302 Female Estimate for Tract 405302 Total Estimate for Tract 405401 Male Estimate for Tract 405401 Female Estimate for Tract 405401 Total Estimate for Tract 405402 Male Estimate for Tract 405402 Female Estimate for Tract 405402 Total Estimate for Tract 4055 Male Estimate for Tract 4055 Female Estimate for Tract 4055 Total Estimate for Tract 4056 Male Estimate for Tract 4056 Female Estimate for Tract 4056 Total Estimate for Tract 4057 Male Estimate for Tract 4057 Female Estimate for Tract 4057 Total Estimate for Tract 4058 Male Estimate for Tract 4058 Female Estimate for Tract 4058 Total Estimate for Tract 405901 Male Estimate for Tract 405901 Female Estimate for Tract 405901 Total Estimate for Tract 405902 Male Estimate for Tract 405902 Female Estimate for Tract 405902 Total Estimate for Tract 4060 Male Estimate for Tract 4060 Female Estimate for Tract 4060
0          2017            Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184  Total population                         5,125                        2,617                          2,508                           3,019                          1,336                            1,683                           2,446                          1,317                            1,129                           4,014                          1,948                            2,066                           3,250                          1,624                            1,626                         4,124                        1,971                          2,153                         3,171                        1,797                          1,374                         3,760                        1,927                          1,833                         4,472                        2,159                          2,313                           4,583                          1,988                            2,595                           3,101                          1,559                            1,542                         3,184                        1,449                          1,735
1          2017            Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184     Under 5 years                           212                          116                             96                             180                             45                              135                             109                             81                               28                             159                            121                               38                             187                            118                               69                           139                           72                             67                           168                          135                             33                           197                           59                            138                           129                           84                             45                             338                            196                              142                             192                            110                               82                            53                           39                             14
2          2017            Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184      5 to 9 years                           263                          127                            136                              57                             57                                0                              73                             37                               36                             178                             56                              122                             224                            165                               59                           168                           96                             72                           133                           57                             76                           193                           79                            114                           345                          126                            219                             426                            137                              289                             130                             51                               79                            98                           66                             32
3          2017            Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184    10 to 14 years                           100                           64                             36                              19                             19                                0                              62                             27                               35                             167                             32                              135                             226                            140                               86                           224                           63                            161                           166                          128                             38                           181                          112                             69                           299                          134                            165                             259                             69                              190                             199                            109                               90                            85                           19                             66
4          2017            Total:                      5,125                         3,019                         2,446                         4,014                         3,250                      4,124                      3,171                      3,760                      4,472                         4,583                         3,101                      3,184    15 to 19 years                            48                           25                             23                             129                             90                               39                              26                              6                               20                              81                             22                               59                             228                             91                              137                           121                           42                             79                           205                          117                             88                           207                          124                             83                           298                          109                            189                             354                            119                              235                             266                            116                              150                            70                           37                             33

---------------------------------------------
# Housing Metric

### Housing Occupancy data

In [136]:
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\housing_market"

# Specify the file pattern
file_pattern = os.path.join(directory_path, 'acs_housing_occupancy_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Rows to remove
rows_to_remove = [
    "RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER", 
    "One race --",
    "Two or more races",
    "Hispanic or Latino origin",
    "White alone, not Hispanic or Latino",
    "AGE OF HOUSEHOLDER",
    "EDUCATIONAL ATTAINMENT OF HOUSEHOLDER",
    "YEAR HOUSEHOLDER MOVED INTO UNIT",
]

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    df = pd.read_csv(file)

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Remove specified rows after stripping whitespace
    df['Label (Grouping)'] = df['Label (Grouping)'].str.strip()  # Remove leading/trailing spaces
    df = df[~df['Label (Grouping)'].isin(rows_to_remove)]
    
    # Drop columns that contain the word 'Percent'
    df = df.loc[:, ~df.columns.str.contains('Percent', case=False)]
    
    # Prepare the renaming dictionary
    rename_dict = {
        'Label (Grouping)': 'Demographic Group',
    }

    # Define the tracts and create the renaming mappings
    tracts = [
        '4052', '4053.01', '4053.02', '4054.01', 
        '4054.02', '4055', '4056', '4057', '4058', 
        '4059.01', '4059.02', '4060'
    ]

    for tract in tracts:
        if year == '2022':
            # Renaming for 2022 data with semicolons
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Occupied housing units!!Estimate'] = f'Census Tract {tract} Total occupied housing units'
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Owner-occupied housing units!!Estimate'] = f'Census Tract {tract} owner-occupied units'
            rename_dict[f'Census Tract {tract}; Alameda County; California!!Renter-occupied housing units!!Estimate'] = f'Census Tract {tract} renter-occupied units'
        else:
            # Renaming for other years with commas
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Occupied housing units!!Estimate'] = f'Census Tract {tract} Total occupied housing units'
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Owner-occupied housing units!!Estimate'] = f'Census Tract {tract} owner-occupied units'
            rename_dict[f'Census Tract {tract}, Alameda County, California!!Renter-occupied housing units!!Estimate'] = f'Census Tract {tract} renter-occupied units'

    # Rename the columns
    df.rename(columns=rename_dict, inplace=True)

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_occupancy_df = pd.concat(dataframes, ignore_index=True)

# Move 'Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_occupancy_df.columns if col != 'Estimate Year']
merged_occupancy_df = merged_occupancy_df[column_order]

# Save the merged DataFrame to a new CSV file
merged_occupancy_df.to_csv('merged_acs_housing_occupancy.csv', index=False)


filtered_merged_occupancy_df = merged_occupancy_df.dropna(how='all')
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)  # Show full column width

filtered_merged_occupancy_df.head()

  Estimate Year                  Demographic Group Census Tract 4052 Total occupied housing units  Census Tract 4052 owner-occupied units Census Tract 4052 renter-occupied units Census Tract 4053.01 Total occupied housing units  Census Tract 4053.01 owner-occupied units Census Tract 4053.01 renter-occupied units Census Tract 4053.02 Total occupied housing units  Census Tract 4053.02 owner-occupied units Census Tract 4053.02 renter-occupied units Census Tract 4054.01 Total occupied housing units  Census Tract 4054.01 owner-occupied units Census Tract 4054.01 renter-occupied units Census Tract 4054.02 Total occupied housing units  Census Tract 4054.02 owner-occupied units Census Tract 4054.02 renter-occupied units Census Tract 4055 Total occupied housing units  Census Tract 4055 owner-occupied units Census Tract 4055 renter-occupied units Census Tract 4056 Total occupied housing units  Census Tract 4056 owner-occupied units Census Tract 4056 renter-occupied units Census Tract 4057 Total occupied housing units  Census Tract 4057 owner-occupied units Census Tract 4057 renter-occupied units Census Tract 4058 Total occupied housing units  Census Tract 4058 owner-occupied units  Census Tract 4058 renter-occupied units Census Tract 4059.01 Total occupied housing units  Census Tract 4059.01 owner-occupied units  Census Tract 4059.01 renter-occupied units  Census Tract 4059.02 Total occupied housing units  Census Tract 4059.02 owner-occupied units  Census Tract 4059.02 renter-occupied units Census Tract 4060 Total occupied housing units  Census Tract 4060 owner-occupied units Census Tract 4060 renter-occupied units
0          2017             Occupied housing units                                          2,407                                   642.0                                   1,765                                             1,548                                      143.0                                      1,405                                             1,448                                       77.0                                      1,371                                             1,688                                      208.0                                      1,480                                             1,133                                       84.0                                      1,049                                          1,580                                   344.0                                   1,236                                          1,371                                   433.0                                   938.0                                          1,353                                   310.0                                   1,043                                          1,333                                   468.0                                    865.0                                             1,080                                      375.0                                       705.0                                              956.0                                      243.0                                       713.0                                          1,405                                   136.0                                   1,269
1          2017                              White                                          1,080                                   249.0                                     831                                               853                                       75.0                                        778                                               619                                       24.0                                        595                                               450                                       61.0                                        389                                               219                                       20.0                                        199                                            533                                   115.0                                     418                                            571                                   229.0                                   342.0                                            327                                    79.0                                     248                                            262                                    97.0                                    165.0                                               175                                       36.0                                       139.0                                              181.0                                       42.0                                       139.0                                            384                                    28.0                                     356
2          2017          Black or African American                                            419                                    24.0                                     395                                               384                                        5.0                                        379                                               228                                        0.0                                        228                                               404                                       11.0                                        393                                               350                                        0.0                                        350                                            272                                    68.0                                     204                                            273                                    62.0                                   211.0                                            562                                   102.0                                     460                                            393                                   122.0                                    271.0                                               205                                      109.0                                        96.0                                              196.0                                       47.0                                       149.0                                            234                                     0.0                                     234
3          2017  American Indian and Alaska Native                                             46                                    13.0                                      33                                                 7                                        0.0                                          7                                                 7                                        0.0                                          7                                                12                                        0.0                                         12                                                42                                        0.0                                         42                                              0                                     0.0                                       0                                             46                                     2.0                                    44.0                                              9                                     0.0                                       9                                              9                                     0.0                                      9.0                                                51                                       22.0                                        29.0                                               11.0                                        0.0                                        11.0                                              6                                     0.0                                       6
4          2017                              Asian                                            594                                   291.0                                     303                                               154                                       40.0                                        114                                               463                                       53.0                                        410                                               493                                      118.0                                        375                                               319                                       61.0                                        258                                            663                                   141.0                                     522                                            307                                   128.0                                   179.0                                            306                                    80.0                                     226                                            510                                   189.0                                    321.0                                               367                                      163.0                                       204.0                                              409.0                                      131.0                                       278.0                                            570                                    98.0                                     472

### Median Home Price data

In [238]:
import os
import glob
import pandas as pd

# Define the directory containing the median home price data
directory_path = r"C:\Users\jabba\Desktop\Code\machine_learning\AUC_mastercard_challenge\src\housing_market"

# Specify the file pattern for median home price files
file_pattern = os.path.join(directory_path, 'acs_median_home_price_*.csv')

# Use glob to find all files matching the pattern
file_list = glob.glob(file_pattern)

# Initialize an empty list to hold the DataFrames
dataframes = []

# Define the tracts for renaming
tracts = [
    '4052', '4053.01', '4053.02', '4054.01',
    '4054.02', '4055', '4056', '4057', '4058',
    '4059.01', '4059.02', '4060'
]

# Function to rename tract columns
def rename_tract_column(col_name):
    for tract in tracts:
        if tract in col_name:
            return f"Tract {tract} Estimate"
    return col_name  # Return unchanged if no match

# Loop through each file, read it into a DataFrame, and append it to the list
for file in file_list:
    df = pd.read_csv(file)

    # Add a year column based on the file name
    year = os.path.basename(file).split('_')[-1].split('.')[0]
    df['Estimate Year'] = year

    # Rename columns, focusing on tract names
    df.columns = [rename_tract_column(col) for col in df.columns]

    # Append the modified DataFrame to the list
    dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
merged_housing_df = pd.concat(dataframes, ignore_index=True)

# Remove any duplicate columns that may have been created
merged_housing_df = merged_housing_df.loc[:, ~merged_housing_df.columns.duplicated()]

# Move 'Estimate Year' to the front
column_order = ['Estimate Year'] + [col for col in merged_housing_df.columns if col != 'Estimate Year']
merged_housing_df = merged_housing_df[column_order]

# Remove rows where all elements are NaN
filtered_merged_housing_df = merged_housing_df.dropna(how='all')

# Rename the 'Label (Grouping)' column to 'Median Value (Dollars)'
filtered_merged_housing_df.rename(columns={'Label (Grouping)': 'Median Value (Dollars)'}, inplace=True)

# Save the merged DataFrame to a new CSV file
filtered_merged_housing_df.to_csv('merged_acs_housing_occupancy.csv', index=False)

# Display the first few rows of the filtered DataFrame
filtered_merged_housing_df

  Estimate Year  Median Value (Dollars) Tract 4052 Estimate Tract 4053.01 Estimate Tract 4053.02 Estimate Tract 4054.01 Estimate Tract 4054.02 Estimate Tract 4055 Estimate Tract 4056 Estimate Tract 4057 Estimate Tract 4058 Estimate Tract 4059.01 Estimate Tract 4059.02 Estimate Tract 4060 Estimate
0          2017  Median value (dollars)             764,100                647,700                428,300                459,500                428,600             509,300             541,300             455,700             370,000                369,100                407,600             434,500
1          2018  Median value (dollars)             839,200                627,100                456,300                462,000                466,700             665,400             562,200             469,100             438,800                403,000                512,500             523,300
2          2019  Median value (dollars)             888,900                682,000                585,900                498,800                573,700             687,900             563,200             484,900             463,300                434,000                533,900             571,400
3          2020  Median value (dollars)             886,100                779,600                491,700                581,300                648,000             705,000             644,400             529,800             547,400                462,300                599,300             625,000
4          2021  Median value (dollars)             866,500                878,700                653,800                614,100                731,100             713,100             705,200             671,200             600,400                546,900                635,100             643,100
5          2022  Median value (dollars)           1,060,300                793,300                637,800                652,400                976,000             754,100             743,000             665,900             696,600                649,600                696,300             745,000

-------------------------------------
# Economic Stability

### Employment data

### Income Stability

------------------------------------
# Inclusive Growth score